@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@variant dark (.dark &);

@theme {
  --color-primary: #5044E5;
  /* --color-scheme: class; */
}


* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

